html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html{
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}


nav{
    width: 100%;
    z-index: 2;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.bottom-placed{
    margin-top: 10%;
    transform: translateY(-50%);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    float: right;
}

div{
    background-color: transparent;
}

li{
    display: inline-block;
    margin-right: 50px;
}

section{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.content-box{
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.flex-centering{
    display: flex;
    text-align: center;
    align-items: center;
}

#home h2{font-weight: normal;}

h1{
    margin: 0;
    font-size: 6em;
}

h2{
    margin: 0;
    font-size: 2em;
}

h3{
    margin: 0;
    font-size: 1.5em;
}

button{
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    padding: 0.70em 1em;
    font-size: 1.25em;
    background-color: transparent;
    border-radius: 22px / 22px;
    transition: color 250ms ease-in 0s, background-color 0.5s ease-in 0s;
}

button:hover{
    background-color: black;
    color: white;
    transition: color 250ms ease-in 0s, background-color 0.5s ease-in 0s;
}

.animated-link::after{
    content: "";
    display: block;
    border-bottom: 3px solid #4965FA;
    transform: scaleX(0);
    transition: transform 0.25s;
}

.animated-link:focus::after{
    transform: scaleX(1);
}

.animated-link:hover::after{
    transform: scaleX(1);
}

.content-justifying{
    text-align: justify;
}

section{
    overflow: auto;
    scroll-margin-top: 50px;
}

section#about{background-color: #6F8184;}
section#sponsors{background-color: #1CB76D;}
section#contact{background-color: #24CDE4;}

.size-limited{
    transform: translateX(600%);
    max-width: 70%;
    margin-left: 75px;
}

nav > a > img{
    padding: 10px 0 0 20px;
}

.white-text{
    color: white;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait){
    html{
        font-size: 30px;
    }
    .content-box{
        width: 100%;
        height: auto;
        margin: 100px 0 100px 0;
    }
    .right{float:none;}
    .left{float:none;}
    section#home{padding-top: 200px;}
    button{
        border-radius: 44px / 44px;
        border: 2px solid black;
        font-size: 1em;
    }
    #little-logo{
        margin: 30px 0 0 30px;
    }
    #img-logo{
        width: 75%;
        height: 75%;
    }
}

@media(max-width: 800px){
    html{
        font-size: 12px;
    }
    #img-logo{
        width: 250px;
        height: 250px;
    }
}

td{
    width: 200px;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invisible-table td{
    border: 0;
    padding: 20px;
}

details summary {
    font-size: 1.25em;
    font-weight: bold;
}

details summary::marker {
    content: "";
}

details summary::after {
    content: "▼";
    float: right;
    padding-left: 20px;
}

details[open] summary::after {
    content: "▲";
    float: right;
    padding-left: 20px;
}