.navigation_bar {
  margin: 1% 3%;
  border: 3px solid black;
  overflow: auto;
  background: white;
}

.navigation_bar__button_box {
  margin: 2% 5%;
  float: right;
}

.navigation_bar__button_box__button {
  margin-right: 20px;
  font-size: 1.25em;
}