.main {
  background-color: #e2eb5e;
  min-height: 100vh;
  padding: 1px 0;
}

.navigation_bar {
  margin: 8px 3%;
  overflow: auto;
}

.navigation_bar__button_box {
  margin: 16px 5%;
  float: right;
  display: block;
}

.navigation_bar__button_box__button {
  margin-right: 20px;
  font-size: 1.25em;
}

.presentation__main_text_wrapper {
  float: left;
  width: 40%;
  margin: 16px 0 16px 10%;
}

.presentation__main_text_wrapper__title_wrapper {
  margin-top: 175px;
}

.presentation__main_text_wrapper__title {
  text-align: center;
  font-size: 4.375rem;
  font-weight: bold;
}

.presentation__main_text_wrapper__subtitle {
  text-align: center;
  font-size: 2.5rem;
}

.presentation__main_text_wrapper__button_wrapper {
  margin-top: "175px"
}

.presentation__main_text_wrapper__detail_wrapper {
  display: block;
  text-align: center;
  margin: 100px 0 10px 0;
}

.presentation__main_text_wrapper__button {
  color: white;
  padding: 16px 10%;
  margin: 0 auto;
  font-size: 1rem;
  display: block;
  background-color: #665eeb;
  border: 3px solid black;
}

.presentation__main_image_wrapper {
  float: right;
  width: 50%;
  margin: 40px 0 40px 0;
}

.presentation__main_image_wrapper__image_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.info_container {
  padding: 30px 5%;
  border: 1px solid #eb5e9c;
  background-color: #5eebad;
  overflow: auto;
}

.info_container__title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}